[user]
    email = relay-git-1LKQ1GqLp0Nn4@aspatel.com
    name = Arjun Patel

[init]
    defaultBranch = master

[color]
    ui = auto

[alias]
    # Fancy looking commit log
    lg = log --all --graph --decorate --oneline
    last = log --all --graph --decorate --oneline -10

# taken from: https://github.com/x-motemen/ghq

[ghq]
    root = ~/Documents/Projects
