[user]
        email = arjun492.ap@gmail.com
        name = Arjun Patel

[core]
        # editor = subl -n -w
        editor = vim

[color]
        ui = auto

[alias]
        # Fancy looking commit log
        hist = log --all --graph --decorate --oneline
        last = log --all --graph --decorate --oneline -10

        s = status --short --branch

# Using meld as a difftool
[diff]
        tool = meld

[difftool]
        prompt = false

[difftool "meld"]
        cmd = meld "$LOCAL" "$REMOTE"

# Using meld as a mergetool
# Add the following to your .gitconfig file.
[merge]
        tool = meld

[mergetool "meld"]
        # Choose one of these 2 lines (not both!) explained below.
        cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
        # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[colour]
        ui = auto

[credential]
        helper = cache --timeout=36000
[push]
	default = matching
