# Ignore everything, but still check in sub-directories
*
!*/

# Ignore any potential Python virtual env folders
venv/
.venv/
env/
.env/

# ----------------------

!.gitignore
!README.md
!LICENSE

!Makefile
!requirements.txt

# my wallpaper!
!fabrizio-conti-kXVogATbFgA-unsplash.jpg

!*.yml
!*.yaml
!*.sh
!*.ini
!*.py

!.bashrc
!.gitconfig
!.inputrc
!.vimrc
!*.vim
![0-9]{2}-*

# temporary?
!files/
!*.js
!*.css
!*.service
!config-work
!*.conf