# Ignore everything, but still check in sub-directories
*
!*/

# Ignore any potential Python virtual env folders
venv/
.venv/
env/
.env/

# ----------------------

!.gitignore
!.gitmodules
!LICENSE

!Makefile
!requirements.txt

# the dotfile manager submodule
!dotbot/
!install
!install.conf.yaml

# my wallpapers!
!fabrizio-conti-kXVogATbFgA-unsplash.jpg
!blobs-d.svg
!blobs-l.svg
!mountain.jpg
!mountain-dark.jpg

# my user icon
!user-icon.png

!*.md
!*.yml
!*.yaml
!*.sh
!*.ini
!*.py
!*.jinja2
!*.repo

!.bashrc
!.gitconfig
!.inputrc
!.vimrc
!*.vim
!.nbrc
!*.nb-plugin
!nb-fzf-preview
!Containerfile

# temporary?
!files/
!*.js
!*.css
!*.service
!config-work
!*.conf
