# Ignore everything, but still check in sub-directories
*
!*/

# Ignore any potential Python virtual env folders
venv/
.venv/
env/
.env/

# ----------------------

!.gitignore
!.gitmodules
!LICENSE

!Makefile
!requirements.txt

# the dotfile manager submodule
!dotbot/
!install
!install.conf.yaml

# my wallpaper!
!fabrizio-conti-kXVogATbFgA-unsplash.jpg

!*.md
!*.yml
!*.yaml
!*.sh
!*.ini
!*.py

!.bashrc
!.gitconfig
!.inputrc
!.vimrc
!*.vim
!.nbrc
!*.nb-plugin
!Containerfile

# temporary?
!files/
!*.js
!*.css
!*.service
!config-work
!*.conf
