{
  "HomepageLocation": "file://{{ browser_startpage_folder }}/Homepage/index.html",
  "NewTabPageLocation": "file://{{ browser_startpage_folder }}/Homepage/index.html",
  "HomepageIsNewTabPage": true
}