---

- name: Ensure that the Application folders exists
  ansible.builtin.file:
    path: "{{ item.location | default(standalone_applications_folder) }}"
    state: directory
  loop: "{{ standalone_applications }}"
  loop_control:
    label: "{{ item.location | default('Default location') }}"

- name: Ensure that all standalone apps are present in the Applications folder
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.location | default(standalone_applications_folder) }}/{{ item.file_name }}"
    checksum: "{{ item.checksum }}"
    mode: "u=rwx,g=r,o=r"
  loop: "{{ standalone_applications }}"
  loop_control:
    label: "{{ item.file_name }}"
