# =====================================================================
# Layered packages
#
# These should be used sparingly to install stuff that needs to be
# available system-wide and can't be used via toolboxes or Flatpak.

packages_to_layer:
  - mozilla-ublock-origin

# packages_to_remove:
#   - your_packages_here

# =====================================================================
# Flatpaks
#
# All apps installed on the machine should come from here so that they
# can easily be installed into your home dir and have their updates
# managed by the OS.
#
# Helpful doco for overrides:
# https://docs.flatpak.org/en/latest/sandbox-permissions.html
# https://www.mankier.com/1/flatpak-override

flatpak_remotes:
  - name: flathub
    url: https://dl.flathub.org/repo/flathub.flatpakrepo

  - name: flathub-beta
    url: https://flathub.org/beta-repo/flathub-beta.flatpakrepo

flatpak_apps_to_install:
  - remote: flathub
    package: com.github.tchx84.Flatseal

  - remote: flathub
    package: io.neovim.nvim
    commands: [vi, vim, nvim]

  - remote: flathub-beta
    package: com.brave.Browser
    commands: [brave]
    overrides:
      # remove some default filesystem access permissions
      - { scope: user, setting: "--nofilesystem=host-etc" }
      - { scope: user, setting: "--nofilesystem=xdg-music" }
      - { scope: user, setting: "--nofilesystem=xdg-videos" }
      - { scope: user, setting: "--nofilesystem=xdg-desktop" }
      # whitelist ~/Documents read-only
      - { scope: user, setting: "--filesystem=xdg-documents:ro" }

flatpak_apps_to_remove:
  - remote: fedora
    package: org.gnome.Maps

  - remote: fedora
    package: org.gnome.Connections

  - remote: fedora
    package: org.gnome.Contacts

  - remote: fedora
    package: org.gnome.Calendar

# =====================================================================
# Standalone Applications
#
# These are applications that can't be found as Flatpaks (or are
# difficult to install as Flatpaks).
#
# Each application is fully contained in one file (realistically, this
# means that the applications are all 'AppImage' files).

standalone_applications:
  - url: https://github.com/keepassxreboot/keepassxc/releases/download/2.6.6/KeePassXC-2.6.6-x86_64.AppImage
    checksum: sha256:0928b4a748ab2a8c95931ffe1afc31c74ff47e3891ef8ff42b87acf014672f18
    file_name: KeePassXC.AppImage

  - url: https://github.com/cryptomator/cryptomator/releases/download/1.6.5/cryptomator-1.6.5-x86_64.AppImage
    checksum: sha256:340bb96df4cf0121640688e9707d51c916cd6257a40ba0b19b1fa21de0cf2b52
    file_name: Cryptomator.AppImage

  - url: https://github.com/nextcloud/desktop/releases/download/v3.2.4/Nextcloud-3.2.4-x86_64.AppImage
    checksum: sha256:5d0c13ba422c445c4a88cd45a1b38878daf67123552b0f4a6020a73734c47ce6
    file_name: Nextcloud.AppImage

# todo: figure out how to install these apps:
#  anki
#  gnome boxes
#  brave browser
#  calibre
#  gnome extensions -- might not be necessary, haven't tried out Gnome 41+ properly
#  flameshot -- could possibly be a native alternative in Gnome 41+?
#  flatseal
#  foliate
#  freetube
#  google chrome
#  jellyfin mpv shim
#  mpv
#  microsoft teams
#  microsoft edge
#  minecraft
#  neovim
#  obsidian
#  pycharm -- might not be necessary?
#  spotify
#  steam
#  tor -- don't know if this is possible
#  vscode

# todo: customise wallpaper
# todo: setup toolboxes?
# todo: customise gnome?
